@import '../../node_modules/antd/dist/antd.css';

@import 'login.less';
@import 'elements.less';
@import 'variables.less';

//Components
@import "./components/header.less";
//Pages
@import 'home.less';

.App {
  display: flex;
  justify-content: left;
  color: rgb(56, 130, 199);
}
